.navbar {
    background-color: #6A1B9A; /* Purple background */
}

.navbar-brand {
    font-family: 'meow script', cursive;
    font-size: 1.8rem;
    color: white;
}

.nav-link {
    color: white !important;
}

.nav-link:hover, .nav-link.active {
    color: #FFA000 !important; /* Orange for hover and active */
}

.btn-reserve {
    background-color: #FFA000; /* Orange background */
    color: white;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.btn-reserve:hover {
    background-color: #FFB300; /* Slightly lighter orange on hover */
    color: white;
}

/* wave style*/
.home .wave {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background-image: url("{% static 'assets/images/wave.png' %}");
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.home .wave2 {
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3 {
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100rem;
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}