body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.home {
    min-height: 100vh;
    width: 100vw;
    background-image: url("{% static 'assets/images/menu.jpg' %}");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
    padding-top: 80px;
}

#menu-section {
    display: none;
    padding: 50px;
    background-color: #fff;
    min-height: 100vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1000px;
    margin: 20px auto;
}

#menu-title {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #D1A35A;
    display: inline-block;
    padding-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item h4 {
    font-size: 20px;
    color: #D1A35A;
    margin-bottom: 10px;
    font-weight: 700;
}

.menu-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.menu-item .price {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    display: inline-block;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #d88559;
    text-decoration: none;
    border: 2px solid #d88559;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.back-btn:hover {
    background-color: #d88559;
    color: #fff;
}

/* Showcase Section */
#showcase {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.showcase-content {
    max-width: 1200px;
    margin: 0 auto;
}

.showcase-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.showcase-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.showcase-text {
    max-width: 500px;
    padding: 0 20px;
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #D1A35A;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9D61B2;
}