body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.home {
    min-height: 100vh;
    width: 100vw;
    background-image: url("{% static 'assets/images/gallery5.jpg' %}");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
    padding-top: 80px;
}

.reservation {
    padding: 40px;
    background-image: url('pic6.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Text color for readability */

}
.reservation h2 {
    font-size: 5.0rem; /* Increased font size */
    font-family: 'Ingrid Darling', serif; /* Updated font style */
    color: #d1a35a; /* Updated font color */
    margin-bottom: 2rem;
    text-align: center;
}

.reservation-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #d1a35a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #61396f;
}