body {
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.8;
}

.hero {
    min-height: 100vh;
    width: 100vw;
    background-image: url('/tikme.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
    padding-top: 80px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5) to control darkness */
    
}

.hero .wave {
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url('/wave.png');
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.hero .wave2 {
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.hero .wave3 {
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100rem;
    }
}

/* About Section */
.section-title {
color: #6c63ff;
margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #5a54d7;
    border-color: #5a54d7;
}