body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.home {
    min-height: 100vh;
    width: 100vw;
    background-image: url("{% static 'assets/images/tikme.png' %}");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
    padding-top: 80px;
}

video {
    opacity: 0; /* Initially hide the video */
    animation: fadeInUp 5s forwards; /* Apply the fade-in-up animation */
}



/* Team section styles */
.team-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.team-section .heading {
    color: #d1a35a;
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInUpward 1.5s forwards ease-out;
}

.team-container .team-picture {
    max-width: 100%;  /* Adjust this percentage as needed for picture size */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Fade-in upward animation for the team section */
@keyframes fadeInUpward {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
