<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-crown'></i>    
        <span class="text">Tikme Dine</span>
    </a>
    <ul class="side-menu top">
        <li class="active" id="dashboard">
            <a href="{% url 'dashboard' %}">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        
        <!-- Dine In Dropdown -->
        <li class="dropdown" id="dine-in">
            <a href="#" class="dropdown-toggle">
                <i class='bx bx-restaurant'></i>
                <span class="text">Dine in</span>
                <i class='bx bx-chevron-down'></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'dineDashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'dine_search' %}">Search</a></li>  
                <li><a href="{% url 'dine_reservations' %}">Reservations</a></li>
                <li><a href="{% url 'dine_guests' %}">Guests</a></li>
                <li><a href="{% url 'dine_tables' %}">Tables</a></li>
            </ul>
        </li>

        <!-- Event Dropdown -->
        <li class="dropdown" id="event">
            <a href="#" class="dropdown-toggle">
                <i class='bx bxs-calendar-event'></i>
                <span class="text">Event</span>
                <i class='bx bx-chevron-down'></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'event_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'event_search' %}">Search</a></li>
                <li><a href="{% url 'event_reservations' %}">Reservations</a></li>
                <li><a href="{% url 'event_guests' %}">Guests</a></li>
                <li><a href="{% url 'event_place' %}">Event Place</a></li>
            </ul>
        </li>

        <!-- Settings and Logout -->
        <li id="settings">
            <a href="{% url 'settings' %}">
                <i class='bx bxs-cog'></i>    
                <span class="text">Settings</span>
            </a>
        </li>
        <li id="logout">
            <a href="{% url 'logout' %}" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
