{% extends 'baseAuth.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/adminAuthentication.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
      <!-- Left Panel -->
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="left-panel">
          <img src="tikme-logo.png" alt="Tikme Dine Logo">
          <div class="horizontal-line"></div>
          <h2>Choose your destination</h2>

          <!-- Buttons -->
          <button class="option-button button-reservation">
            <span>Reservation and Booking System</span>
          </button>

          <button class="option-button button-logistics">
            <span>Logistics + Inventory System</span>
          </button>

          <button class="option-button button-finance">
            <span>Finance Management System</span>
          </button>
        </div>
      </div>

      <!-- Right Panel (Image Slider) -->
      <div class="col-lg-4 d-flex align-items-center justify-content-center">
            <div class="right-panel">
                <div class="slider">
                    <img src="gallery1.jpg" class="active" alt="Dining Setup 1">
                    <img src="gallery2.jpg" alt="Dining Setup 2">
                    <img src="gallery3.jpg" alt="Dining Setup 3">
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/adminAuthentication.js' %}"></script>
{% endblock %}
