{% extends 'baseAuth.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/adminAuthentication.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="row row-no-gutters">
    <!-- Left Panel -->
    <div class="col-md-6 left-panel">
      <img src="{% static 'assets/images/tikme-logo.png' %}" alt="Tikme Dine Logo">
      <div class="divider"></div>
      <h2 class="heading">Choose your destination</h2>
      <!-- Buttons -->
      <button class="option-button button-reservation">
        Reservation and Booking System
      </button>
      <button class="option-button button-logistics">
        Logistics + Inventory System
      </button>
      <button class="option-button button-finance">
        Finance Management System
      </button>
    </div>

    <!-- Right Panel (Image) -->
    <div class="col-md-6 right-panel">
      <img src="{% static 'assets/images/gallery9.png' %}" alt="Dining Setup">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
