{% extends 'baseAuth.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/portal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="row row-no-gutters">
    <!-- Left Panel -->
    <div class="col-md-6 left-panel">
      <img src="{% static 'assets/images/tikme-logo.png' %}" alt="Tikme Dine Logo">
      <div class="divider"></div>
      <h2 class="heading">Choose your destination</h2>
      <!-- Buttons -->
      <a href="{% url 'admin_login' %}">
        <button class="option-button button-reservation">
          Reservation and Booking System
        </button>
      </a>
      <a href="">
        <button class="option-button button-logistics">
          Logistics Management System
        </button>
      </a>
      <a href="">
        <button class="option-button button-finance">
          Finance Management System
        </button>
      </a>
    </div>
    <!-- Right Panel (Image) -->
    <div class="col-md-6 right-panel">
      <img src="{% static 'assets/images/gallery9.png' %}" alt="Dining Setup">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
